<form action="" class="formulario" onsubmit="operacaoRealizada(this);" onload="$([name='data']).val(Date.now());">
    <div class="fechar_janela" onclick="operacaoAbortada(this);">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </div>
    <fieldset>
        <legend style="text-shadow: 1px 1px 3px black;">CADASTRAR SAÍDA</legend>
        <div class="formulario__grupo formulario__grupo--coluna-esq" style="flex-direction: column; padding-right: inherit;">
            <div class="grupo-itens">
                <label class="formulario__label" for="forn">FORNECEDOR</label>
                <select class="formulario__campo" name="forn" required size="1">
                    {%for fornecedor in fornecedores%}
                    <option value="{{fornecedor.id}}">{{fornecedor.nome}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="grupo-itens">
                <label class="formulario__label" for="prod">PRODUTO</label>
                <select class="formulario__campo" name="prod" required size="1">
                    {%for produto in produtos%}
                    <option value="{{produto.id}}" selected>{{produto.nome}}</option>
                    <option value="{{produto.id}}">{{produto.nome}}</option>
                    <option value="{{produto.id}}">{{produto.nome}}</option>
                    <option value="{{produto.id}}">{{produto.nome}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="grupo-itens">
                <label class="formulario__label" for="qtd">QUANTIDADE</label>
                <input class="formulario__campo" type="number" name="qtd" required min="0">
            </div>
            <div class="formulario__grupo">  
                <div class="grupo-itens">
                    <label class="formulario__label" for="data">DATA</label>
                    <input class="formulario__campo" type="date" name="data"></input>
                </div>
            </div>
        </div>
        <div class="formulario__grupo formulario__grupo--coluna-dir">  
            <div class="grupo-itens">
                <label class="formulario__label" for="obs">DESCRIÇÃO</label>
                <textarea class="formulario__campo" name="observacoes" style="scroll-behavior: smooth; height: 254px; text-align: center;">{{produtos.descricao}}Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime error molestias aperiam unde iste quibusdam tempora maiores saepe minima nostrum labore, accusantium dicta natus! Dicta nisi animi facere accusantium. Perferendis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ratione voluptatibus culpa suscipit porro repellendus expedita quidem nobis laudantium. Necessitatibus sequi esse repellendus consequatur, cupiditate impedit molestiae vel ex nisi.</textarea>
            </div>
        </div>
    </fieldset>
    <input type="submit" class="formulario__botao" value="CADASTRAR">
</form>
