{% load static%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/internal_css/home.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/internal_css/forms_consulta.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/internal_css/forms_cadastro.css'%}">
<link rel="icon" type="image/png" href="{% static 'vendor/imgs/favicon-32x32.png'%}">
