{%extends 'base.html'%}

{%block conteudo%}
<h1 class="mt-5">Produtos</h1>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Produto</th>
        <th>Tipo</th>
        <th>Preço de Venda</th>
        <th>Estoque</th>
    </tr>
    </thead>
    <tbody>
    {%for produto in produtos%}
    <tr>
        <td>{{produto.id_produto}}</td>
        <td>
            <a href="{%url 'ver_produto' produto.id %}"> {{produto.nm_produto}}</a>
        </td>
        <td>{{produto.tipo}}</td>
        <td>{{produto.preco_venda}}</td>
        <td>{{produto.estoque}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {%for pagina in produtos.paginator.page_range %}
        {%if produtos.number == pagina%}
        <li class="page-item active">
            <a class="page-link" href="?p={{pagina}}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {%else%}
        <li class="page-item">
            <a class="page-link" href="?p={{pagina}}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {%endif%}
        {%endfor%}
    </ul>
</nav>
{%endblock%}
      