{%extends 'base.html'%}

{%block conteudo%}
<h1 class="mt-5">{{produto.id_produto}} {{produto.nm_produto}}</h1>

<!--{%if produto.foto%}-->
<!--<p>-->
<!--    <img src="{{produto.foto.url}}" style="max-width: 250px; height: auto;"-->
<!--</p>-->
<!--{%endif%}-->

<dl>
    <dt>ID</dt>
    <dd>{{produto.id_produto}}</dd>

    <dt>Produto</dt>
    <dd>{{produto.nm_produto}}</dd>

    <dt>Tipo</dt>
    <dd>{{produto.tipos}}</dd>

    <dt>Descrição</dt>
    <dd>{{produto.descricao}}</dd>

    <dt>Valor Unidade</dt>
    <dd>{{produto.vl_unidade}}</dd>

    <dt>Unidade de Medida</dt>
    <dd>{{produto.unidade_medida}}</dd>

    <dt>Preço do Fornecedor</dt>
    <dd>{{produto.preco_fornecedor}}</dd>

    <dt>Preço de Venda</dt>
    <dd>{{produto.preco_venda}}</dd>

    <dt>Estoque</dt>
    <dd>{{produto.estoque}}</dd>

    <dt>Data de criação</dt>
    <dd>{{produto.created_at|date:'d/m/y H:i:s'}}</dd>

    <dt>Data de Atualização</dt>
    <dd>{{produto.updated_at|date:'d/m/y H:i:s'}}</dd>

    <dt>Criado por</dt>
    <dd>{{produto.created_by}}</dd>

    <dt>Atualizado por</dt>
    <dd>{{produto.updated_by}}</dd>
</dl>
{%endblock%}